*{
	text-decoration: none;
}

body {
	background-image: url('https://wallpaperaccess.com/full/849790.gif');
	background-size: cover;
	background-attachment: fixed;
	font-family: "montserrat", sans-serif;

}

nav {
	display: flex;
	justify-content: space-between;

}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	text-align: center;
	justify-content: center;
	border: solid 5px black;
	margin-left: 65%;
}

nav ul li a {
	padding: 20px;
	font-size:15px;


}
.button1{
	background-color: lightblue;
}



@media (max-width: 600px) {
	body {
		background-size: auto 100%;
		background-position: center;




	}

	nav ul {
		margin:0;
		padding:0;
		display:flex;
		background-color:red;
		justify-content: center;
	}
	nav ul li {
		background-color: grey;
		margin: 0;
		padding:5px;
	}
	
}