body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill1 {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }
  .skill2 {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }
  .skill3 {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }
  .skill h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
  }